.recentproject {
    background-color: var(--background-black, #1b1b1b);
    border-radius: 20px;
    padding: 4%;
    border: 2px solid #262626;
  
    .top_columns {
      display: grid;
      grid-template-columns: 3fr 2fr 1fr;
    }
  
    .right_column {
      display: flex;
      justify-content: flex-end;
    }
  
    .name {
      color: #FFFFFF;
      font-size: 2em;
      font-weight: 600;
      margin-bottom: .3em;
    }
  
    .description {
      color: #C0C0C0;
      font-size: 1.66em;
      margin: 0;
      margin-top: 20px;
    }
  
    .img_holder {
      display: flex;
      text-align: center;
      justify-content: center;
      margin-top: 2%;

  
      #cardimg {
        width: 45%;
        height: 45%;
      }
    }
  }
  #vawt {
    width: 40%;
    height: 40%;
    border-radius: 20px;
  }